/logs
/tmp
/backups
/uploads
/Config.json
/.idea
/web/.htaccess
/yovalue.sql
/scripts/client_secret.json
/web/img/graph_shots
/scripts/graphImageGenerator/generator.log
/scripts/graphImageGenerator/graph.json
/scripts/google/client_secret.json