
.textBoxContent {
    overflow-y: auto;
    background-color: rgb(233, 233, 233);
    padding: 15px 15px 15px 15px;
    font-family: "times new roman";
    color: black;
}

.altLabel {
    cursor: pointer;
    border: solid 1px grey;
}

.altLabel:hover{
    border: solid #b665ff;
}

.altLabel.active{
    border: solid #b665ff;
}

.nodeListItem{
    margin-left: 1%;
    display: inline;
}

.nodeListItem:after {
    clear:both;
    content:" ";
    display:block;
}

.underlyingConditionalProbabilitiesAssumptionsLabel{
    color: darkblue;
    border-bottom: 1px dotted darkblue;
    text-decoration: none;
    cursor: pointer;
}
.underlyingConditionalProbabilitiesAssumptionsContent{
    background-color: #d44179;
    font-size: 10px;
}
