@import "../../../../lib/client/css/reset.css";
@import "../../../../lib/client/css/ui.css";

body {
    /* background-color: #2B2B2B; */
    background-color: #2C3338;
    font-family: 'Oswald', sans-serif;
    color: #F7F7F7;
}

#logo {
    float: left;
    text-align: center;
    padding-left: 40px;
    color: black;
    font-weight: bold;
}

#logo .snippet {
    font-weight: normal;
}

#mainMenuContainer {
    background-color: rgb(41, 127, 163);
    text-align: right;
    padding-top: 1%;
    padding-bottom: 1%;
}

#graphMenuContainer {
    margin-top: 1%;
    text-align: center;
}

.textBox {
    overflow-y: auto;
    background-color: rgb(233, 233, 233);
    padding: 15px 15px 15px 15px;
    font-family: "times new roman";
    color: black;
}

/* list of main menu items */
ul#mainMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-table;
}

ul#mainMenu li {
    float: left;
    display: inline;
}

ul#mainMenu li a {
    display: block;
    width: 120px;
    font-weight: bold;
    color: black;
    background-color: rgb(41, 127, 163);
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
}

ul#mainMenu li a:hover, ul#mainMenu li a.active {
    color: #FFFFFF;
}

/* list of graph names */
ul#graphMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-table;
}

ul#graphMenu li {
    margin: 0 40px 0 40px;
    float: left;
    display: inline;
}

ul#graphMenu li a {
    display: block;
    white-space: nowrap;
    font-weight: bold;
    color: white;
    background-color: #2C3338;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
}

ul#graphMenu li a:hover, ul#graphMenu li a.active {
    background-color: rgb(41, 127, 163);
    color: black;
}

#quote {
    /*background-color: rgb(36, 116, 149);*/
}

#purpose {
    background-color: rgb(41, 127, 163);
}

#method {
    background-color: rgb(36, 116, 149);
}

#contacts {
    background-color: #757576;
}

.description {
    padding: 5% 15% 5% 15%;
}

.description h1 {
    font-weight: 300;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.description p {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.2;
}

.description ul {
    list-style-type: circle;
    font-size: 18px;
    font-style: italic;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 5%;
}

.description ul li {
    margin-bottom: 5px;
}

#social {
    text-align: center;
}
#social img {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
}

blockquote {
    font-style: italic;
    text-align: right;
    font-size: 1em;
    color: #DDD;
    border-right: 0.5em solid #DDD;
    padding-right: 15px;
}

blockquote:before {
    float: left;
    display: block;
    height: 0;
    content: "“";
    margin-left: -.5em;
    font: italic 800%/1 Cochin,Georgia,"Times New Roman", serif;
    color: #DDD;
}

.call_to_action{
    font-weight: bold;
    text-align: center;
    padding: 20px 20px 20px 20px;
    color: #754103;
    background-color: #00FFB8;
    margin: 20px 20px 20px 20px;
    font-size: large;
}

.subscribe input[type='text']{
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #606468;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 230px;
    height: 50px;
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin-right: 50px;
    -webkit-appearance: none;
}

.subscribe input[type='submit']{
    cursor: pointer;
    -webkit-border-radius: 3px;
    background-color: #ea4c88;
    color: #eee;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    width: 280px;
    height: 50px;
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

.subscribe input[type="submit"]:hover {
    background-color: #d44179;
}

.altLabel {
    cursor: pointer;
    border: solid 1px grey;
}

.altLabel:hover{
    border: solid #b665ff;
}

.altLabel.active{
    border: solid #b665ff;
}

.nodeListItem{
    display: block;
}

.underlyingConditionalProbabilitiesAssumptionsLabel{
    color: darkblue;
    border-bottom: 1px dotted darkblue;
    text-decoration: none;
    cursor: pointer;
}
.underlyingConditionalProbabilitiesAssumptionsContent{
    background-color: #d44179;
    font-size: 10px;
}
