.logout{
    float: right;
    margin-right: 1%;
}

.share_button{
    margin-left: 1%;
}

.share {
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #191919;
    padding: 0 1em 1em 1em;
    display: flex;
    flex-direction: row;
}

.share .leftCol {
    margin-right: 20px;
    border-right: 1px solid;
    flex: 0 0 60%;
}

.share .rightCol {
    flex: 0 0 40%;
}

.share .shareTitle {
    height: 80px;
}

.share .firstTitle {
    font-family: 'Roboto-Bold';
}

.share .nextTitle::before{
    content: '';
    clear: both;
}
.share .nextTitle {
    display: inline-block;
    font-family: 'Roboto-Bold';
    margin-top: 2.5em;
}

.share .imgSizeSelect{
    margin-left: 1em;
    display: inline-block;
}

.share .imgSizeSelectPostfix{
    margin-left: 0.5em;
    font-family: 'Roboto-Bold';
}

.share .imgSizeSelect ul a {
    font-family: 'Roboto';
    font-size: 14px;
}

.share .code {
    color: #788d98;
}

.share .ui_button {
    display: block;
    margin-top: 1em;
}

.GeneralButtons {
    width: 340px;
}

.GeneralButtons .ui_select {
    z-index: 998;
}

.username {
    font-family: 'DINPro';
    font-size: 15px;
    margin-right: 1%;
    color: #8480a6;
}

.source {
    width: 98%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.source .leftC {
    padding-right: 1em;
    width: 40%;
    /* flex: 0 0 40%; */
}
.source .leftC .authors {
    color: #788d98;
}

.source .rightC {
    /* flex: 0 0 60%; */
    width: 60%;
}

.source .rightC .usedIn {
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
}

.source .rightC .usedIn .rowLeftC{
    flex-grow: 0;
    width: 33%;
}

.source .rightC .usedIn .rowRightC{
    width: 67%;
}

.source .rightC .usedIn .rowRightC .nodeName{
    margin-bottom: 0.5em;
}

.sourceHeadWrapper {
    width: 100%;
    height: 2em;
}
.sourceHeader {
    width: 97%;
    padding-left: 3em;
    padding-bottom: 0;
    font-family: 'Roboto-Bold';
    padding-right: 1em;
    position: fixed;
    background-color: #FFFFFF;
}

.sourceHeader .leftC {
    padding-right: 0;
}

.ui_button.bigButton[name=CalculateBayes] {
    position: relative;
    top: -0.15em;
}

.cloneListContainer {
    width: 100%;
    /* margin-left: 2em; */
}

.cloneListContainer .title {
    margin: 0 1.5em;
    font-family: 'Roboto-Bold';
    font-size: 14px;
    line-height: 1.43;
    color: #191919;
}

.cloneListContainer .ui_list li {
    align-items: baseline;
    padding: 0 1.5em;
}
.cloneListContainer .ui_list li .buttons {width: 8em;margin-left: auto;}

.cloneItem {
    /* width: 70%; */
    align-items: baseline;
    display: flex;
}

.cloneItem .user {
    overflow: hidden;
    width: 10em;
}

.cloneItem button {

max-width: 20em;
}
