.graphElementEditorContainer{
    position:  absolute;
    display: none;
    opacity:0.8;
    padding: 1em;
    z-index: 1;
    background-color: aqua;
}
/*
 * Position right editor
 */
#rightGraphElementEditorContainer{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 75%;
}

/*
 * Position left editor
 */
#leftGraphElementEditorContainer{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 25%;
}

.graphElementEditorContainer .ui_form {
    text-align: center;
}
.graphElementEditorContainer input, .graphElementEditorContainer .ui_button  {
    display: block;
    margin: 1em auto;
}
.graphElementEditorContainer .ui_select:before  {
    clear: both;
}
.graphElementEditorContainer .ui_select:after  {
    clear: both;
}


