.graphElementEditorContainer{
    position:  absolute;
    display: none;
    /* flex-direction: column; */
    opacity: 1;
    padding-bottom: 1em;
    z-index: 1;
    background-color: #ffffff;
    width: 40%;
    max-height: 100%;
    min-height: 40%;
    overflow: auto;
}

/*
 * Position right editor
 */
#rightGraphElementEditorContainer{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 75%;
}

/*
 * Position left editor
 */
#leftGraphElementEditorContainer{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 25%;
}

.graphElementEditorContainer textarea {
    width: 100%;
}
.graphElementEditorContainer textarea[name=text] {
    width: 100%;
    height: 100%;
}
.graphElementEditorContainer .ui_form {
    text-align: center;
}
.graphElementEditorContainer .ui_button:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.graphElementEditorContainer .ui_button {
    margin-right: 1em;
}
.graphElementEditorContainer .ui_select {
    width: 100%;
    /* margin-right: 1em; */
}
.graphElementEditorContainer .ui_select .nodeLabel div[name=label] {
    width: 100%;
    /* margin-right: 1em; */
}
.graphElementEditorContainer .ui_select ul {
    width: 100%;
    /* margin-right: 1em; */
}
.graphElementEditorContainer .ui_select a {
    white-space: normal;
    padding-right: 0;
}
.graphElementEditorContainer .ui_list li {
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
}
.graphElementEditorContainer .ui_list li button.ui_button.icon{
    float:right;
    background-size: 1.3em;
    height: 1.5em;
    width: 0.5em;
    margin-right: 0;
    /* height: 2em; */
}
.graphElementEditorContainer .ui_range input {
    width: 20em;
    margin-left: 1em;
}
.graphElementEditorContainer .ui_accordion  label::after{
   display: inline-block;
   position: static;
   margin-left: 0.5em;
   margin-bottom: 0.1em;
}
.graphElementEditorContainer .condPInfoLabel {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: left;
    color: #191919;
}
.graphElementEditorContainer .ifThenContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.ifThenContainer .probability {
    margin-right: 0.5em;
    font-family: 'DINPro';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    text-align: left;
    color: #b363d2;
    display: inline;
}
.ifThenContainer .iflabel {
    margin-right: 0.5em;
    font-family: 'DINPro';
    font-size: 16px;
    line-height: 1.25;
    color: #8b8b8b;
    display: inline;
}
.ifThenContainer .ifcond {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #191919;
    /* display: inline; */
}
.graphElementEditorContainer .alternativeLabel {
    margin-top: 0.2em;width: 100%;
}
.graphElementEditorContainer .alternativeProbability {
    width: 3em;
    font-family: DINPro;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #b363d2;
}
.graphElementEditorContainer .ui_accordion {
    /* padding: 1em 1em 1em 1em; */
}
.graphElementEditorContainer .ui_accordion .tab label {
    padding: 0.5em 1em 0em 16px;
}
.graphElementEditorContainer .ui_accordion .tab .tab-content {
    padding: 0em 1em 0em 16px;
}
.graphElementEditorContainer .head {
    height: 1.5em;
    margin: 1em 1em 0.5em 1em;
}
.graphElementEditorContainer .head .label {
    margin-top: 0.26em;
    display: inline-block;
    vertical-align: middle;
}
.graphElementEditorContainer .head button {
    display: inline-block;
    float: right;
}
.graphElementEditorContainer .nodeLabel {
    font-family: 'Roboto-Bold';
    display: flex;
    margin: 1em 1em 0.5em 1em;
}
.graphElementEditorContainer .nodeLabel.inSelectBox {
    width: 100%;
    margin: 0;
}
.graphElementEditorContainer .nodeLabel .notInSelectLabel {
    margin-top: 3px;
}
.graphElementEditorContainer .selected .nodeLabel > button {
    margin-top: 2em;
}
.graphElementEditorContainer .nodeLabel > button {
    padding-left: 30px;
    background-position-y: bottom;
    height: 24px;
}
.graphElementEditorContainer li .nodeLabel > button {
    height: 24px;
}
.graphElementEditorContainer .tab-content {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.43;
    color: #191919;
}
.graphElementEditorContainer .sourceItem {
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.graphElementEditorContainer .sourceItem .leftC{
    width: 75%;
}
.graphElementEditorContainer .sourceItem .rightC{
    width: 15%;
}
.graphElementEditorContainer .sourceItem .sourceType{
}
.graphElementEditorContainer .sourceItem .name{
}
.graphElementEditorContainer .sourceItem .authors{
    color: #788d98;
}
.graphElementEditorContainer .sourceItem .publisherReliabilityLabel{
    color: #bdbdbd;
}
.graphElementEditorContainer .sourceItem .publisherReliability{
    color: #4fce69;
}
