.graphModeSwitch .knob {
    fill: #6b6e7e;
    -webkit-transition: .4s;
    transition: .4s;
}

.graphModeSwitch .slot {
    fill: #6b6e7e;
}

.graphModeSwitch.on .knob {
    transform: translateX(12px);
    fill: #b363d2;
}

.graphModeSwitch.off .knob {
    transform: translateX(0);
    fill: #bdbdbd;
}

.graphModeSwitch.off .offText {
    visibility: visible;
}
.graphModeSwitch.off .onText {
    visibility: hidden;
}

.graphModeSwitch.on .offText {
    visibility: hidden;
}
.graphModeSwitch.on .onText {
    visibility: visible;
}