/*
 to set height of graphViews to be 1/2 of its width, we use trick with wrapper proposed here
 http://www.mademyday.de/css-height-equals-width-with-pure-css.html
 see also
 http://wellcaffeinated.net/articles/2012/12/10/very-simple-css-only-proportional-resizing-of-elements/
*/
@import "../../../../lib/client/css/reset.css";
@import "../../../../lib/client/css/ui.css";
@import "general_buttons.css";
@import "graph_element_editor.css";
@import "graph_mode_switch_panel.css";

/**
 * Font definitions
 */
@font-face{
    font-family:'SFNSDisplay';
    src:url(SFNSDisplay.ttf);
}
@font-face{
    font-family:'DINPro';
    src:url(DINPro.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(Roboto-Bold.ttf);
}
body {
    font-family: 'Roboto';
}
/*
 redefine some ui elements
*/
#horizontalMenu .ui_select .hamburger{
    padding-bottom: 0.9em;
}
#horizontalMenu .ui_select .selected{
    background-color: #1c1f33;
}
#horizontalMenu .ui_select .selected a {
    padding-left: 10px;
}
.ui_select .selected{
    padding: 0;
}
.ui_select li{
    font-size: 16px;
    padding: 0;
    color: black;
}

/*
 Hamburger wrapper
*/
#horizontalMenu .hamburgerSelectBoxWrapper{
    position: relative;
    display: inline-block;
    top: 0.08em;
    margin-left: 0.5em;
}

/**
 * menu item icons
 */
.withAddIcon::before{
    position: relative;
    top: -0.2em;
    display: inline;
    width: 24px;
    height: 24px;
    padding-right: 2.3em;
    padding-bottom: 5px;
    content: "";
    background: url(/apps/user_pkb/client/img/ic_add_circle_black_24px.svg) no-repeat 0 0;
}
.withCloneIcon::before{
    position: relative;
    top: -0.2em;
    display: inline;
    width: 24px;
    height: 24px;
    padding-right: 2.3em;
    padding-bottom: 5px;
    content: "";
    background: url(/apps/user_pkb/client/img/ic_control_point_duplicate_black_24px.svg) no-repeat 0 0;
}
.withTrashIcon::before{
    position: relative;
    top: -0.2em;
    display: inline;
    width: 24px;
    height: 24px;
    padding-right: 2.3em;
    padding-bottom: 5px;
    content: "";
    background: url(/apps/user_pkb/client/img/ic_delete_black_24px.svg) no-repeat 0 0;
}
.withEditIcon::before{
    position: relative;
    top: -0.2em;
    display: inline;
    width: 24px;
    height: 24px;
    padding-right: 2.3em;
    padding-bottom: 5px;
    content: "";
    background: url(/apps/user_pkb/client/img/ic_mode_edit_black_24px.svg) no-repeat 0 0;
}
.withDownloadIcon::before{
    position: relative;
    top: -0.2em;
    display: inline;
    width: 24px;
    height: 24px;
    padding-right: 2.3em;
    padding-bottom: 5px;
    content: "";
    background: url(/apps/user_pkb/client/img/download.svg) no-repeat 0 0;
}
.withShareIcon::before{
    position: relative;
    top: -0.2em;
    display: inline;
    width: 24px;
    height: 24px;
    padding-right: 2.3em;
    padding-bottom: 5px;
    content: "";
    background: url(/apps/user_pkb/client/img/ic_share_black_24px.svg) no-repeat 0 0;
}

#graphViews{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 3em auto 0 auto;

    /* prevent selection of div while draggin */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #2b2f47;
}

#statusString {
    font-size: 14px;
    pointer-events: none;
    position:absolute;
    bottom: 0;
    margin: 0 auto;
    padding-bottom: 0.4em;
    text-align: center;
    width: 100%;
    z-index: 100;
    font-family: 'Roboto';
}

.ajax{
    position: absolute;
    top: 50%;
    left: 50%;
}

#horizontalMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    background-color: #1c1f33;
    color: white;
    padding: 0 5%;
    font-size: 16px;
}
#horizontalMenu .leftContainer{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.GraphMenu{
    font-size: 18px;
    display: inline-block;
}

#logoContainer{
    width: 20%;
}

#leftSelectContainer{
    margin-left: 16%;
    display: inline-block;
    width: 40%;
}

#rightSelectContainer{
    display: none;
}

#frontalLoader {
    left: calc(50% - 40px);
    position: absolute;
    top: calc(50% - 80px);
}

