/*
 to set height of graphViews to be 1/2 of its width, we use trick with wrapper proposed here
 http://www.mademyday.de/css-height-equals-width-with-pure-css.html
 see also
 http://wellcaffeinated.net/articles/2012/12/10/very-simple-css-only-proportional-resizing-of-elements/
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:300|Open+Sans+Condensed:300&subset=latin,cyrillic);
@import "../../../../lib/client/css/reset.css";
@import "../../../../lib/client/css/ui.css";
@import "graph_element_editor.css";

#graphViews{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 1.5em auto;

    /* prevent selection of div while draggin */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    background-color: #2B2B2B;
}

#statusString {
    position:absolute;
    bottom: 0;
    margin: 0 auto;
    padding-bottom: 2px;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.ajax{
    position: absolute;
    top: 50%;
    left: 50%;
}

#horizontalMenu{
    padding: 0.03em 0;
}

.GraphMenu{
    width: 40%;
    display: inline-block;
}

#rightSelectContainer{
    width: 30%;
}

.GeneralButtons{
    width:20%;
    display: inline-block;
}

