#selectGraphPosition .sel-box{
    margin: 0 10%;
    width: 30%;
    float: left;
    padding: 0;
}
.selected{
    display:block;
    width:239px;
    height:20px;
    border:1px solid #999;
    padding:0px 0px 0px 10px;
}
.toc-odd{
    z-index: 1;
    position:absolute;
    top:20px;
    background:#f1f1f1;
    width:250px;
    display:none;
}
.toc-odd li{
    padding:5px 10px;
    border-bottom:1px solid #999;
}
.toc-odd li:hover{
    background-color: #0000FF;
    background-image: url('../img/recycle_icon.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px;
}
.remove_button {
    border: 2px outset #aaa;
    border-radius: 4px;
}