#selectGraphPosition .sel-box{
    margin: 0 10%;
    width: 30%;
    float: left;
    padding: 0;
}


.selected{
    display:block;
    width:235px;
    height:20px;
    border:1px solid #999;
    padding:5px;
}
.toc-odd{
    z-index: 1;
    position:absolute;
    top:20px;
    background:#f1f1f1;
    width:250px;
    display:none;
}
.toc-odd li{
    padding:5px 10px;
    border-bottom:1px solid #999;
}
.remove_button {
    border: 2px outset #aaa;
    border-radius: 4px;
}