/*
 to set height of graphViews to be 1/2 of its width, we use trick with wrapper proposed here
 http://www.mademyday.de/css-height-equals-width-with-pure-css.html
 see also
 http://wellcaffeinated.net/articles/2012/12/10/very-simple-css-only-proportional-resizing-of-elements/
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:300|Open+Sans+Condensed:300&subset=latin,cyrillic);

#graphViews{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
/*    background-color: #2B2B2B; */
    background-color: transparent;
}

/*
 Graph element editor form container
*/
#graphElementEditorContainer{
    z-index: 1;
    position:  absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    display: none;
    opacity: 0.8;
}

/*
 Graph element editor form style
*/
#graphElementEditorContainer div {
    display: block;
    position:  absolute;
    width:90%;
    top: 20%;
    bottom: 12%;
    border-radius:2px;
    border: solid 1px #ccc;
    padding: 1%;
    background-color: #ccc;
    margin: 0 auto;
    overflow: auto;
}

.ajax{
    position: absolute;
    top: 50%;
    left: 50%;
}
