.actionItem:hover{
    background-color: #C2B9C2;
}
.actionItem{
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
}

.actionItemButton {
    cursor: pointer;
    float: right;
    padding-left: 10px;
}