.ui_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #9DE9BD;
    padding: 20px 20px 20px 20px;
}

.ui_modal .close_button{
    position: absolute;
    right: 1px;
    top: 1px;
    cursor: pointer;
}
