.ui_modal{
    position: absolute;
    z-index: 1000;
    background-color: #9DE9BD;
    padding: 2px 2px 2px 2px;
}

.ui_modal .close_button{
    float: right;
    cursor: pointer;
}

.ui_modal_content{
    padding: 10px 10px 10px 10px;
}

.ui_modal_content .confirm_button{
    float: left;
    cursor: pointer;
}