
.selected{
    display:block;
    width:239px;
    height:20px;
    border:1px solid #999;
    padding:0px 0px 0px 10px;
}
.sel-box ul{
    z-index: 1;
    position:absolute;
    top:20px;
    background:#f1f1f1;
    width:250px;
    display:none;
}
.sel-box li{
    padding:5px 10px;
    border-bottom:1px solid #999;
}
.sel-box li:hover{
    background-color: #0000FF;
}
.sel-box .removable  li:hover{
    background-image: url('../img/recycle_icon.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px;
}

.removeListItemButton{
    width:20px;
    height:20px;
    float: right;
    cursor: pointer;
}

.remove_button {
    border: 2px outset #aaa;
    border-radius: 4px;
}