.selected{
    display:block;
    width:239px;
    height:20px;
    border:1px solid #999;
    padding:0px 0px 0px 10px;
}
.ui_select ul{
    z-index: 1;
    position:absolute;
    top:20px;
    background:#f1f1f1;
    width:250px;
    display:none;
}
.ui_select li{
    padding:5px 10px;
    border-bottom:1px solid #999;
}
.ui_select li:hover{
    background-color: #0000FF;
}